{% extends '@admin/layout.twig' %}

{% block title "Editer les articles" %}

{% block body %}

    <p class="text-right">
        <a href="" class="btn btn-primary">
            Ajouter un article
        </a>
    </p>

    <table class="table table-striped">
        <thead>
           <tr>
               <th>Titre</th>
               <th>Actions</th>
           </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>
                    <a href="{{ path('blog.admin.edit', {'id': item.id }) }}" class="btn btn-primary">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{{ paginate(items, 'blog.admin.index') }}

{% endblock %}