<li class="nav-item">
    <a href="{{ path('blog.admin.post.index') }}" class="nav-link {{ is_subpath('blog.admin.post.index') ? 'active' }}">Articles</a>
</li>
<li class="nav-item">
    <a href="{{ path('blog.admin.category.index') }}" class="nav-link {{ is_subpath('blog.admin.category.index') ? 'active' }}">Categories</a>
</li>